:root {
  --iris: var(--IRIS, #4d5ae5);
  --navy-blue: var(--NAVY-BLUE, #2e2f42);
  --slate: var(--SLATE, #434455);
  --white: var(--WHITE, #fff);
  --cloud: var(--CLOUD, #f4f4fd);
  --emmet: var(--EMMET, #404bbf);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  line-height: 1 6;
  background-color: var(--WHITE, #fff);
}
a {
  text-decoration: none;
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}
.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}
.link {
  text-decoration: none;
  color: var(--EMMET, #404bbf);
}
.address {
  font-style: normal;
}
.top {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.link-top {
  color: var(--NAVY-BLUE, #2e2f42);
  text-decoration: none;
}
.section-first {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.section-first-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE, #fff);
}
.button-first:hover {
  background-color: var(--IRIS, #4d5ae5);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
  cursor: pointer;
}
.button-first:hover {
}
.section-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-second-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}
.section-third {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2e2f42);
}
.section-third-title {
  background-color: var(--CLOUD, #f4f4fd);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.section-fourth {
  background-color: var(--CLOUD, #f4f4fd);
}
.section-fourth-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.section-fourth-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.img {
}
.studio-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.logo link two {
  color: var(--CLOUD, #f4f4fd);
}
.footer-text {
  line-height: 1.5;
  color: var(--CLOUD, #f4f4fd);
  letter-spacing: 0.02em;
}
.button-second {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
  cursor: pointer;
}
